!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}/
    %title Ghost jumper
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/phaser/2.4.3/phaser.min.js", :type => "text/javascript"}
    %script{:src => "game/boot.js", :type => "text/javascript"}
    %script{:src => "game/preload.js", :type => "text/javascript"}
    %script{:src => "game/gametitle.js", :type => "text/javascript"}
    %script{:src => "game/main.js", :type => "text/javascript"}
    %script{:src => "game/gameover.js", :type => "text/javascript"}
    :css
      body {
          margin: 0;
      }
    :javascript
      (function() {

      		//Create a new game that fills the screen
      		game = new Phaser.Game(window.innerWidth * window.devicePixelRatio, window.innerHeight * window.devicePixelRatio, Phaser.AUTO);

      		//Add all states
      		game.state.add("Boot", Boot);
      		game.state.add("Preload", Preload);
      		game.state.add("GameTitle", GameTitle);
      		game.state.add("Main", Main);
      		game.state.add("GameOver", GameOver);

      		//Start the first state
      		game.state.start("Boot");

      })();
  %body
